<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>operations</h1>
        <h1>nested  block</h1>
        {% if a > b %}
           {% if a > c %}
               <h1> a is max</h1>
               <h1>inner if block</h1>
           {% else %}
               <h1> c is </h1>
               <h1>if blocks inner else</h1>
           {% endif %}
        {% else %}
            {% if b > c %}
               <h1>b is max</h1>
               <h1> else block is inner else</h1>
            {% else %}
               <h1> c is max</h1>
               <h1> else block inner else</h1>
            {% endif %}
        {% endif %}
           
    </center>

</body>
</html>