<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>operations</h1>
        <h1>if ---elif--else block</h1>
        {% if a > b and a > c %}
           <h1>if block</h1>
           <h1> a is max</h1>
        {% elif b > c %}
           <h1>elif block</h1>
           <h1> b is max</h1>
        {% else %}
           <h1>else block</h1>
           <h1> c is max</h1>
        {% endif %}
    </center>

</body>
</html>